* {
  font-family: 'Special Elite', system-ui;
  font-weight: 400;
  font-style: normal;
}

/* style.css */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  min-width: 900px;
}

.game-output {
  width: 100%;
  height: 600px; /* Adjust based on your preference */
  overflow-y: auto; /* Allows scrolling */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space between the output and the input field */
}

.command-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

body {
  background-color: #0a0f1a; /* Deep, dark blue */
  color: #f4ede4; /* Soft, off-white */
  font-family: 'Georgia', serif; /* A font that fits many themes */
}

a,
.highlight {
  color: #daa520; /* Golden yellow for highlights */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.gameFeedback {
  flex: 1;
  max-width: 50%;
}

.playerStats,
.enemyStats {
  flex: 1;
  max-width: 25%;
  padding: 1rem;
  display: grid;
  place-items: center;
}

.enemyStats {
  visibility: hidden;
}
